* {
	font-family: 'Inter', sans-serif;
}
#nav {
	height: 410px;
	background-color: #121212;
}

#Qualities {
    max-width: 1180px;
    margin: 0 auto;
    padding: 28px 40px 0px;
}

#test {
	overflow: hidden;
}
@font-face {
	font-family: Svngilroy-bold;
	src: url(../public/font/SVNGilroyBold.woff);
}
@font-face {
	font-family: Svngilroy-light;
	src: url(../public/font/SVNGilroyLight.woff);
}
@font-face {
	font-family: Svngilroy-extra;
	src: url(../public/font/Gilroy-ExtraBold.otf);
}